$icon-arrows-up: "\e1a0";
$icon-arrows-down: "\e1a2";
$icon-arrows-left: "\e19f";
$icon-arrows-right: "\e1a3";
$icon-arrows-up-thin: "\e1a6";
$icon-arrows-down-thin: "\e1a5";
$icon-arrows-left-thin: "\e1a7";
$icon-arrows-right-thin: "\e1a8";
$icon-arrows-up-bold: "\e1aa";
$icon-arrows-down-bold: "\e1a9";
$icon-arrows-left-bold: "\e0fa";
$icon-arrows-right-bold: "\e0f9";
$icon-arrows-up-narrow: "\e198";
$icon-arrows-down-narrow: "\e199";
$icon-arrows-left-narrow: "\e178";
$icon-arrows-right-narrow: "\e179";
