$icon-arrows-up: "\e1a0";
$icon-arrows-down: "\e1a2";
$icon-arrows-left: "\e19f";
$icon-arrows-right: "\e1a3";
$icon-arrows-up-thin: "\e1a6";
$icon-arrows-down-thin: "\e1a5";
$icon-arrows-left-thin: "\e1a7";
$icon-arrows-right-thin: "\e1a8";
$icon-arrows-up-bold: "\e1aa";
$icon-arrows-down-bold: "\e1a9";
$icon-arrows-left-bold: "\e0fa";
$icon-arrows-right-bold: "\e0f9";
$icon-arrows-up-narrow: "\e198";
$icon-arrows-down-narrow: "\e199";
$icon-arrows-left-narrow: "\e178";
$icon-arrows-right-narrow: "\e179";
$icon-arrows-up-caret: "\e900";
$icon-arrows-down-caret: "\e901";
$icon-arrows-left-caret: "\e902";
$icon-arrows-right-caret: "\e903";
$icon-arrows-up-drop: "\e904";
$icon-arrows-down-drop: "\e905";
$icon-arrows-left-drop: "\e906";
$icon-arrows-right-drop: "\e907";
