$Arrow-Icons: (
        up: "\e1a0",
        down: "\e1a2",
        left: "\e19f",
        right: "\e1a3",
        up-thin: "\e1a6",
        down-thin: "\e1a5",
        left-thin: "\e1a7",
        right-thin: "\e1a8",
        up-bold: "\e1aa",
        down-bold: "\e1a9",
        left-bold: "\e0fa",
        right-bold: "\e0f9",
        up-narrow: "\e198",
        down-narrow: "\e199",
        left-narrow: "\e178",
        right-narrow: "\e179",
        up-caret: "\e900",
        down-caret: "\e901",
        left-caret: "\e902",
        right-caret: "\e903",
        up-drop: "\e904",
        down-drop: "\e905",
        left-drop: "\e906",
        right-drop: "\e907"
);